<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD(Documentation type data) file -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 1st object creation with data -->
	<bean class="com.kodnest.Spring_Project6_AutoWiring_byType.Mobile" id = "mob">
		<property name="brand" value="OnePlus"></property>
		<property name="ram" value="8"></property>
		<property name="cost" value="30000"></property>
	</bean>

	<!-- Injecting one bean into another bean called Person -->
	<!-- AutoWiring byType-->
	<bean class="com.kodnest.Spring_Project6_AutoWiring_byType.Person" id = "person1" autowire = "byType"></bean>
</beans>
  